<section class="side-bar">
    <img src="assets/images/logo.png" alt="logo" class="logo">

    <ul>
        <li>
            <img src="assets/icons/sport.svg" alt="">
            <span>SPORT</span>
        </li>
        <li>
            <img src="assets/icons/live.svg" alt="">
            <span>LIVE</span>
        </li>
        <li class="selected">
            <img src="assets/icons/slot.svg" alt="">
            <span>SLOTS</span>
        </li>
        <li>
            <img src="assets/icons/casino.svg" alt="">
            <span>CASINO</span>
        </li>
    </ul>
</section>